# DAG: Thesis-Recommenders-Upgrade

Analisis de resultados de cada tarea que constrituye el dag _Thesis-Recommenders-Upgrade_.

In [5]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [6]:
BASE_PATH = '../..'
LIB_PATH  = f'{BASE_PATH}/lib'
DATA_PATH ='/var/tmp/rec-sys-client'

In [64]:
import sys
sys.path.append(LIB_PATH)

from pytorch_common.util import LoggerBuilder

import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt

from bunch import Bunch
import util as ut
import scipy.sparse

In [86]:
def similarities(model):
    return Bunch({
        'user': pd.read_json(f'{DATA_PATH}/compute_{model}_similarities_user_similarities.json'),
        'item': pd.read_json(f'{DATA_PATH}/compute_{model}_similarities_user_similarities.json')
    })

def change_state(model):
    return ut.Picket.load(f'{DATA_PATH}/{model}_change_state.picket')

def load_rating_matrix(model):
    return scipy.sparse.load_npz(F'{DATA_PATH}/compute_{model}_rating_matrix.npz')

def load_train_interactions(model):
    return pd.read_json(f'{DATA_PATH}/compute_{model}_rating_matrix_train_interactions.json')

In [75]:
LoggerBuilder().on_console().build()

In [76]:
fetch_interactions = pd.read_json(f'{DATA_PATH}/fetch_interactions.json')

In [77]:
fetch_interactions[fetch_interactions.user_id == 5000]

       user_id  item_id  rating  suitable_to_train  user_seq  item_seq
36588     5000        1     4.0               True       606        92
36589     5000      260     4.0               True       606        22
36590     5000      296     4.0               True       606        23
36591     5000      527     4.0               True       606        15
36592     5000      858     3.0               True       606       243
36593     5000      110     5.0               True       606        97
36594     5000      150     4.0               True       606        98
36595     5000     1196     4.0               True       606        37
36596     5000     1198     4.0               True       606        39
36597     5000     2762     4.0               True       606        70
36598     5000      924     5.0               True       606       148
36599     5000     1193     0.0               True       606       274
36600     5000     1291     4.0               True       606        50
36601     5000     3147     4.0               True       606       250
36602     5000     3578     4.0               True       606         2
36603     5000      318     4.0               True       606         0
36604     5000     1213     0.0               True       606        42
36605     5000     1221     0.0               True       606       286
36606     5000     2329     0.0               True       606       248
36607     5000     5989     5.0               True       606       186
36608     5000       34     1.0               True       606        93
36609     5000      111     0.0               True       606       271
36610     5000      500     2.0               True       606       142
36611     5000      590     5.0               True       606       108
36612     5000    48516     0.0               True       606         4

In [78]:
fetch_interactions[fetch_interactions.user_seq == 606].shape

(25, 6)

In [79]:
fetch_interactions.user_id.unique().shape

(607,)

In [80]:
knn_user_based_change_state = change_state('knn_user_based')
knn_item_based_change_state = change_state('knn_item_based')

In [81]:
knn_item_based_change_state

{'n_users': 463,
 'n_items': 396,
 'n_interactions': 34943,
 'datetime': datetime.datetime(2023, 6, 6, 20, 11, 56, 806695)}

In [87]:
svd_train_interactions = load_train_interactions('svd')
nmf_train_interactions = load_train_interactions('nmf')

knn_user_based_train_interactions = load_train_interactions('knn_user_based')
knn_item_based_train_interactions = load_train_interactions('knn_item_based')

In [89]:
svd_train_interactions[svd_train_interactions.user_id == 5000]

       user_id  item_id  rating  suitable_to_train  user_seq  item_seq
34918     5000        1     4.0               True       462        74
34919     5000      260     4.0               True       462         3
34920     5000      296     4.0               True       462         4
34921     5000      527     4.0               True       462        90
34922     5000      858     3.0               True       462       222
34923     5000      110     5.0               True       462        79
34924     5000      150     4.0               True       462        80
34925     5000     1196     4.0               True       462        18
34926     5000     1198     4.0               True       462        20
34927     5000     2762     4.0               True       462        52
34928     5000      924     5.0               True       462       132
34929     5000     1193     0.0               True       462       261
34930     5000     1291     4.0               True       462        31
34931     5000     3147     4.0               True       462       231
34932     5000     3578     4.0               True       462       150
34933     5000      318     4.0               True       462        84
34934     5000     1213     0.0               True       462        23
34935     5000     1221     0.0               True       462       274
34936     5000     2329     0.0               True       462       229
34937     5000     5989     5.0               True       462       171
34938     5000       34     1.0               True       462        75
34939     5000      111     0.0               True       462       258
34940     5000      500     2.0               True       462       126
34941     5000      590     5.0               True       462        92
34942     5000    48516     0.0               True       462       189

In [93]:
svd_rating_matrix = load_rating_matrix('svd')
nmf_rating_matrix = load_rating_matrix('nmf')

knn_user_based_rating_matrix = load_rating_matrix('knn_user_based')
knn_item_based_rating_matrix = load_rating_matrix('knn_item_based')

In [94]:
svd_similarities      = similarities('svd')
nmf_similarities      = similarities('nmf')
knn_user_similarities = similarities('knn_user_based')
knn_item_similarities = similarities('knn_item_based')

In [135]:
knn_user_based_rating_matrix[0, 12]

4.0

In [137]:
knn_item_similarities.user

        user_a  user_b     value
0            0       1  0.095378
1            0       2  0.113133
2            0       3  0.210517
3            0       4  0.108159
4            0       5  0.076065
...        ...     ...       ...
106948     459     461  0.194342
106949     459     462  0.331003
106950     460     461  0.325658
106951     460     462  0.240760
106952     461     462  0.293953

[106953 rows x 3 columns]

In [138]:
knn_item_similarities.user.user_a.unique().shape

(462,)

In [139]:
knn_item_similarities.user.user_b.unique().shape

(462,)

In [110]:
knn_item_based_train_interactions.user_seq.unique().shape

(463,)

In [103]:
knn_user_similarities.user[knn_item_similarities.user.user_b == 462]

        user_a  user_b     value
461          0     462  0.157902
922          1     462  0.379803
1382         2     462  0.215004
1841         3     462  0.219090
2299         7      94  0.037946
...        ...     ...       ...
106942     418     445  0.274535
106946     418     449  0.355423
106949     418     452  0.656470
106951     418     454  0.453460
106952     418     455  0.324259

[462 rows x 3 columns]

In [104]:
knn_item_similarities.user[knn_item_similarities.user.user_b == 462]

        user_a  user_b     value
461          0     462  0.157902
922          1     462  0.379803
1382         2     462  0.215004
1841         3     462  0.219090
2299         4     462  0.297941
...        ...     ...       ...
106942     457     462  0.324947
106946     458     462  0.253875
106949     459     462  0.331003
106951     460     462  0.240760
106952     461     462  0.293953

[462 rows x 3 columns]